In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import datetime as dt
import warnings
warnings.filterwarnings("ignore")

In [3]:
# Load master dataframe
df = pd.DataFrame(np.load(r'../data/master_initial.npy', allow_pickle=True))
cols = np.load(r'../data/columns_initial.npy', allow_pickle=True)
df.columns = cols
df.drop(['dsindustry6','icbindustry2'], axis=1, inplace=True)
df[df.columns[2:]] = df[df.columns[2:]].astype('float')
df.insert(2, 'eligible', 0)

In [4]:
# Global variables
fields = list(df.columns)
nonfields = ['date', 'companyid', 'eligible', 'gilt3m']
for i in nonfields:
    fields.remove(i)

In [6]:
frames = []
for name, frame in df.groupby('companyid'):
    frame['ret_1f1'] = frame['ret'].shift(-1)
    frame['ret_1f3'] = frame['ret_3m'].shift(-3)
    frame['ret_1f6'] = frame['ret_6m'].shift(-6)
    frame['ret_1f12'] = frame['ret_12m'].shift(-12)
    frame['retxs_1f1'] = frame['retxs'].shift(-1)
    frame['retxs_1f3'] = frame['retxs_3m'].shift(-3)
    frame['retxs_1f6'] = frame['retxs_6m'].shift(-6)
    frame['retxs_1f12'] = frame['retxs_12m'].shift(-12)
    frames.append(frame)

df = pd.concat(frames, axis=0).sort_index()

In [7]:
'''
Eligible training has:
    1 - All data available in period t
    2 - Return available in period t+1
'''
# Find number of fields available
df['eligible'] = ((1- df[fields].isna()) * 1).sum(axis=1)
# Set eligible = 1 if all fields are available (34 fields)
df['eligible'][df['eligible']!=len(fields)] = 0
df['eligible'][df['eligible']==len(fields)] = 1

# Summary of data eligibility
print('Total companies eligible at each date:')
for name, group in df[df['eligible']==1].groupby('date'):
    print(name, ':', len(group.index))

Total companies eligible at each date:
1998-12-31 00:00:00 : 738
1999-01-29 00:00:00 : 707
1999-02-26 00:00:00 : 709
1999-03-31 00:00:00 : 708
1999-04-30 00:00:00 : 700
1999-05-31 00:00:00 : 707
1999-06-30 00:00:00 : 712
1999-07-30 00:00:00 : 714
1999-08-31 00:00:00 : 715
1999-09-30 00:00:00 : 715
1999-10-29 00:00:00 : 721
1999-11-30 00:00:00 : 726
1999-12-31 00:00:00 : 731
2000-01-31 00:00:00 : 701
2000-02-29 00:00:00 : 704
2000-03-31 00:00:00 : 709
2000-04-28 00:00:00 : 700
2000-05-31 00:00:00 : 702
2000-06-30 00:00:00 : 706
2000-07-31 00:00:00 : 708
2000-08-31 00:00:00 : 709
2000-09-29 00:00:00 : 711
2000-10-31 00:00:00 : 716
2000-11-30 00:00:00 : 718
2000-12-29 00:00:00 : 723
2001-01-31 00:00:00 : 711
2001-02-28 00:00:00 : 711
2001-03-30 00:00:00 : 712
2001-04-30 00:00:00 : 712
2001-05-31 00:00:00 : 717
2001-06-29 00:00:00 : 722
2001-07-31 00:00:00 : 718
2001-08-31 00:00:00 : 718
2001-09-28 00:00:00 : 716
2001-10-31 00:00:00 : 712
2001-11-30 00:00:00 : 714
2001-12-31 00:00:00 : 714
2002-01-31 00:00:00 : 698
2002-02-28 00:00:00 : 700
2002-03-29 00:00:00 : 704
2002-04-30 00:00:00 : 691
2002-05-31 00:00:00 : 694
2002-06-28 00:00:00 : 692
2002-07-31 00:00:00 : 690
2002-08-30 00:00:00 : 691
2002-09-30 00:00:00 : 689
2002-10-31 00:00:00 : 688
2002-11-29 00:00:00 : 690
2002-12-31 00:00:00 : 693
2003-01-31 00:00:00 : 673
2003-02-28 00:00:00 : 671
2003-03-31 00:00:00 : 670
2003-04-30 00:00:00 : 665
2003-05-30 00:00:00 : 665
2003-06-30 00:00:00 : 671
2003-07-31 00:00:00 : 674
2003-08-29 00:00:00 : 677
2003-09-30 00:00:00 : 679
2003-10-31 00:00:00 : 679
2003-11-28 00:00:00 : 684
2003-12-31 00:00:00 : 684
2004-01-30 00:00:00 : 668
2004-02-27 00:00:00 : 670
2004-03-31 00:00:00 : 671
2004-04-30 00:00:00 : 662
2004-05-31 00:00:00 : 662
2004-06-30 00:00:00 : 662
2004-07-30 00:00:00 : 664
2004-08-31 00:00:00 : 665
2004-09-30 00:00:00 : 663
2004-10-29 00:00:00 : 661
2004-11-30 00:00:00 : 663
2004-12-31 00:00:00 : 662
2005-01-31 00:00:00 : 639
2005-02-28 00:00:00 : 638
2005-03-31 00:00:00 : 638
2005-04-29 00:00:00 : 625
2005-05-31 00:00:00 : 627
2005-06-30 00:00:00 : 628
2005-07-29 00:00:00 : 627
2005-08-31 00:00:00 : 628
2005-09-30 00:00:00 : 624
2005-10-31 00:00:00 : 617
2005-11-30 00:00:00 : 618
2005-12-30 00:00:00 : 616
2006-01-31 00:00:00 : 597
2006-02-28 00:00:00 : 593
2006-03-31 00:00:00 : 592
2006-04-28 00:00:00 : 584
2006-05-31 00:00:00 : 584
2006-06-30 00:00:00 : 584
2006-07-31 00:00:00 : 578
2006-08-31 00:00:00 : 577
2006-09-29 00:00:00 : 576
2006-10-31 00:00:00 : 575
2006-11-30 00:00:00 : 576
2006-12-29 00:00:00 : 578
2007-01-31 00:00:00 : 557
2007-02-28 00:00:00 : 555
2007-03-30 00:00:00 : 556
2007-04-30 00:00:00 : 550
2007-05-31 00:00:00 : 546
2007-06-29 00:00:00 : 548
2007-07-31 00:00:00 : 551
2007-08-31 00:00:00 : 552
2007-09-28 00:00:00 : 553
2007-10-31 00:00:00 : 552
2007-11-30 00:00:00 : 552
2007-12-31 00:00:00 : 557
2008-01-31 00:00:00 : 542
2008-02-29 00:00:00 : 540
2008-03-31 00:00:00 : 542
2008-04-30 00:00:00 : 537
2008-05-30 00:00:00 : 539
2008-06-30 00:00:00 : 542
2008-07-31 00:00:00 : 541
2008-08-29 00:00:00 : 539
2008-09-30 00:00:00 : 543
2008-10-31 00:00:00 : 543
2008-11-28 00:00:00 : 544
2008-12-31 00:00:00 : 547
2009-01-30 00:00:00 : 529
2009-02-27 00:00:00 : 528
2009-03-31 00:00:00 : 529
2009-04-30 00:00:00 : 527
2009-05-29 00:00:00 : 529
2009-06-30 00:00:00 : 528
2009-07-31 00:00:00 : 530
2009-08-31 00:00:00 : 531
2009-09-30 00:00:00 : 529
2009-10-30 00:00:00 : 532
2009-11-30 00:00:00 : 537
2009-12-31 00:00:00 : 539
2010-01-29 00:00:00 : 526
2010-02-26 00:00:00 : 531
2010-03-31 00:00:00 : 534
2010-04-30 00:00:00 : 529
2010-05-31 00:00:00 : 530
2010-06-30 00:00:00 : 534
2010-07-30 00:00:00 : 538
2010-08-31 00:00:00 : 538
2010-09-30 00:00:00 : 538
2010-10-29 00:00:00 : 539
2010-11-30 00:00:00 : 541
2010-12-31 00:00:00 : 545
2011-01-31 00:00:00 : 529
2011-02-28 00:00:00 : 529
2011-03-31 00:00:00 : 530
2011-04-29 00:00:00 : 524
2011-05-31 00:00:00 : 524
2011-06-30 00:00:00 : 524
2011-07-29 00:00:00 : 523
2011-08-31 00:00:00 : 521
2011-09-30 00:00:00 : 522
2011-10-31 00:00:00 : 519
2011-11-30 00:00:00 : 519
2011-12-30 00:00:00 : 521
2012-01-31 00:00:00 : 509
2012-02-29 00:00:00 : 508
2012-03-30 00:00:00 : 509
2012-04-30 00:00:00 : 504
2012-05-31 00:00:00 : 502
2012-06-29 00:00:00 : 502
2012-07-31 00:00:00 : 501
2012-08-31 00:00:00 : 501
2012-09-28 00:00:00 : 501
2012-10-31 00:00:00 : 499
2012-11-30 00:00:00 : 499
2012-12-31 00:00:00 : 500
2013-01-31 00:00:00 : 488
2013-02-28 00:00:00 : 487
2013-03-29 00:00:00 : 492
2013-04-30 00:00:00 : 490
2013-05-31 00:00:00 : 492
2013-06-28 00:00:00 : 492
2013-07-31 00:00:00 : 493
2013-08-30 00:00:00 : 492
2013-09-30 00:00:00 : 492
2013-10-31 00:00:00 : 494
2013-11-29 00:00:00 : 494
2013-12-31 00:00:00 : 493
2014-01-31 00:00:00 : 483
2014-02-28 00:00:00 : 485
2014-03-31 00:00:00 : 485
2014-04-30 00:00:00 : 489
2014-05-30 00:00:00 : 489
2014-06-30 00:00:00 : 488
2014-07-31 00:00:00 : 488
2014-08-29 00:00:00 : 488
2014-09-30 00:00:00 : 489
2014-10-31 00:00:00 : 486
2014-11-28 00:00:00 : 486
2014-12-31 00:00:00 : 485
2015-01-30 00:00:00 : 478
2015-02-27 00:00:00 : 480
2015-03-31 00:00:00 : 481
2015-04-30 00:00:00 : 477
2015-05-29 00:00:00 : 476
2015-06-30 00:00:00 : 476
2015-07-31 00:00:00 : 476
2015-08-31 00:00:00 : 476
2015-09-30 00:00:00 : 476
2015-10-30 00:00:00 : 477
2015-11-30 00:00:00 : 477
2015-12-31 00:00:00 : 477
2016-01-29 00:00:00 : 463
2016-02-29 00:00:00 : 462
2016-03-31 00:00:00 : 462
2016-04-29 00:00:00 : 456
2016-05-31 00:00:00 : 455
2016-06-30 00:00:00 : 456
2016-07-29 00:00:00 : 458
2016-08-31 00:00:00 : 457
2016-09-30 00:00:00 : 458
2016-10-31 00:00:00 : 460
2016-11-30 00:00:00 : 463
2016-12-30 00:00:00 : 462
2017-01-31 00:00:00 : 454
2017-02-28 00:00:00 : 456
2017-03-31 00:00:00 : 460
2017-04-28 00:00:00 : 459
2017-05-31 00:00:00 : 461
2017-06-30 00:00:00 : 470
2017-07-31 00:00:00 : 473
2017-08-31 00:00:00 : 473
2017-09-29 00:00:00 : 471
2017-10-31 00:00:00 : 470
2017-11-30 00:00:00 : 472
2017-12-29 00:00:00 : 472
2018-01-31 00:00:00 : 454
2018-02-28 00:00:00 : 457
2018-03-30 00:00:00 : 460
2018-04-30 00:00:00 : 454
2018-05-31 00:00:00 : 454
2018-06-29 00:00:00 : 455
2018-07-31 00:00:00 : 450
2018-08-31 00:00:00 : 449
2018-09-28 00:00:00 : 445
2018-10-31 00:00:00 : 416
2018-11-30 00:00:00 : 414
2018-12-31 00:00:00 : 396
2019-01-31 00:00:00 : 161
2019-02-28 00:00:00 : 150
2019-03-29 00:00:00 : 143
2019-04-30 00:00:00 : 54
2019-05-31 00:00:00 : 46
2019-06-28 00:00:00 : 39
2019-07-31 00:00:00 : 9
2019-08-30 00:00:00 : 2

In [8]:
# Drop dates with very little data
df.set_index('date', inplace=True)
for date in df.index.unique()[-10:]:
    df.drop(labels=date, axis=0, inplace=True)
df.reset_index(inplace=True)

In [9]:
print("Final date in the dataset is:  ", list(df.date.unique())[-1])

Final date in the dataset is:   2018-12-31T00:00:00.000000000

# Adding Fields

In [10]:


# Market Value
df['mv_^2'] = df['mv'] ** 2
df['mv_^3'] = df['mv'] ** 3

# Book to Market Value
df['bvtmv_^2'] = df['bvtmv'] ** 2
df['bvtmv_^3'] = df['bvtmv'] ** 3

# Operating Margin
df['opmarg_^2'] = df['opmarg'] ** 2
df['opmarg_^3'] = df['opmarg'] ** 3

# Free cash flow
df['fcf_^2'] = df['fcf'] ** 2
df['fcf_^3'] = df['fcf'] ** 3

# Return on invested capital
df['roic_^2'] = df['roic'] ** 2
df['roic_^3'] = df['roic'] ** 3

# Volatility
df['std_3m_^2'] = df['std_3m'] ** 2
df['std_3m_^3'] = df['std_3m'] ** 3
df['std_6m_^2'] = df['std_6m'] ** 2
df['std_6m_^3'] = df['std_6m'] ** 3
df['std_12m_^2'] = df['std_12m'] ** 2
df['std_12m_^3'] = df['std_12m'] ** 3
df['std_24m_^2'] = df['std_24m'] ** 2
df['std_24m_^3'] = df['std_24m'] ** 3

# Return
df['ret_3m_^2'] = df['ret_3m'] ** 2
df['ret_3m_^3'] = df['ret_3m'] ** 3
df['ret_6m_^2'] = df['ret_6m'] ** 2
df['ret_6m_^3'] = df['ret_6m'] ** 3
df['ret_12m_^2'] = df['ret_12m'] ** 2
df['ret_12m_^3'] = df['ret_12m'] ** 3
df['ret_24m_^2'] = df['ret_24m'] ** 2
df['ret_24m_^3'] = df['ret_24m'] ** 3

# Excess return
df['retxs_3m_^2'] = df['retxs_3m'] ** 2
df['retxs_3m_^3'] = df['retxs_3m'] ** 3
df['retxs_6m_^2'] = df['retxs_6m'] ** 2
df['retxs_6m_^3'] = df['retxs_6m'] ** 3
df['retxs_12m_^2'] = df['retxs_12m'] ** 2
df['retxs_12m_^3'] = df['retxs_12m'] ** 3
df['retxs_24m_^2'] = df['retxs_24m'] ** 2
df['retxs_24m_^3'] = df['retxs_24m'] ** 3


# Dividend yield
df['dy_^2'] = df['dy'] ** 2
df['dy_^3'] = df['dy'] ** 3

# Beta
df['beta_^2'] = df['beta'] ** 2
df['beta_^3'] = df['beta'] ** 3

# Shares Outstanding
df['so_^2'] = df['so'] ** 2
df['so_^3'] = df['so'] ** 3

# Interaction terms
df['mv_bvtmv'] = df['bvtmv'] / df['mv']
df['retxs12m_bvtmv'] = df['retxs_12m'] * df['mv']

In [12]:
# Get rid of infinity values
df.replace([np.inf, -np.inf], np.nan, inplace=True)
df.dropna(how='any', inplace=True)

# Portfolio Sorts

In [13]:
df.insert(len(df.columns), 'MKT', np.nan)
df.insert(len(df.columns), 'SMB', np.nan)
df.insert(len(df.columns), 'HML', np.nan)
df.insert(len(df.columns), 'UMD', np.nan)
df.insert(len(df.columns), 'RMW', np.nan)
df.insert(len(df.columns), 'CMA', np.nan)
df.insert(len(df.columns), 'VOL', np.nan)


frames = []

for name, frame in df.groupby('date'):
    
    # Size
    small = frame.nsmallest(int(0.2*len(frame.index)), 'mv', 'all')['ret_1f1'].mean()
    big = frame.nlargest(int(0.2*len(frame.index)), 'mv', 'all')['ret_1f1'].mean()
    frame['SMB'] = small-big

    # Value
    low = frame.nsmallest(int(0.2*len(frame.index)), 'bvtmv', 'all')['ret_1f1'].mean()
    high = frame.nlargest(int(0.2*len(frame.index)), 'bvtmv', 'all')['ret_1f1'].mean()
    frame['HML'] = high-low
    
    # Momentum
    down = frame.nsmallest(int(0.2*len(frame.index)), 'ret_12m', 'all')['ret_1f1'].mean()
    up = frame.nlargest(int(0.2*len(frame.index)), 'ret_12m', 'all')['ret_1f1'].mean()
    frame['UMD'] = up-down
    
    # Profitability
    robust = frame.nlargest(int(0.2*len(frame.index)), 'opmarg', 'all')['ret_1f1'].mean()
    weak = frame.nsmallest(int(0.2*len(frame.index)), 'opmarg', 'all')['ret_1f1'].mean()
    frame['RMW'] = robust-weak
    
    # Low Investment
    conservative = frame.nlargest(int(0.2*len(frame.index)), 'roic', 'all')['ret_1f1'].mean()
    aggressive = frame.nsmallest(int(0.2*len(frame.index)), 'roic', 'all')['ret_1f1'].mean()
    frame['CMA'] = conservative-aggressive

    # Volatility
    stable = frame.nsmallest(int(0.2*len(frame.index)), 'std_24m', 'all')['ret_1f1'].mean()
    volatile = frame.nlargest(int(0.2*len(frame.index)), 'std_24m', 'all')['ret_1f1'].mean()
    frame['VOL'] = stable-volatile
    
    frames.append(frame)

df = pd.concat(frames)

# MKT is just excess return of ftse allshare
df['MKT'] = df['allshare'] - df['gilt3m']

# Create polynomials
df['MKT_^2'] = (1 + df['MKT']) ** 2 - 1
df['MKT_^3'] = (1 + df['MKT']) ** 3 - 1

df['SMB_^2'] = (1 + df['SMB']) ** 2 - 1
df['SMB_^3'] = (1 + df['SMB']) ** 3 - 1

df['HML_^2'] = (1 + df['HML']) ** 2 - 1
df['HML_^3'] = (1 + df['HML']) ** 3 - 1

df['CMA_^2'] = (1 + df['CMA']) ** 2 - 1
df['CMA_^3'] = (1 + df['CMA']) ** 3 - 1

df['RMW_^2'] = (1 + df['RMW']) ** 2 - 1
df['RMW_^3'] = (1 + df['RMW']) ** 3 - 1

df['UMD_^2'] = (1 + df['UMD']) ** 2 - 1
df['UMD_^3'] = (1 + df['UMD']) ** 3 - 1

df['VOL_^2'] = (1 + df['VOL']) ** 2 - 1
df['VOL_^3'] = (1 + df['VOL']) ** 3 - 1

# Create interaction terms
df['HMLxSMB'] = (1 + df['HML']) * (1 + df['SMB']) - 1
df['HMLxUMD'] = (1 + df['HML']) * (1 + df['UMD']) - 1
df['SMBxRMW'] = (1 + df['SMB']) * (1 + df['RMW']) - 1
df['SMBxVOL'] = (1 + df['SMB']) * (1 + df['VOL']) - 1
df['CMAxSMB'] = (1 + df['CMA']) * (1 + df['SMB']) - 1
df['CMAxRMW'] = (1 + df['CMA']) * (1 + df['RMW']) - 1
df['CMAxUMD'] = (1 + df['CMA']) * (1 + df['UMD']) - 1
df['CMAxVOL'] = (1 + df['CMA']) * (1 + df['VOL']) - 1
df['RMWxVOL'] = (1 + df['RMW']) * (1 + df['VOL']) - 1

# Save

In [14]:
# Save over master file with new df from above
np.save(dataFolder+'/master_prepared.npy', df)
np.save(dataFolder+'/columns_prepared.npy', list(df.columns))