### Import libraries

In [2]:
import pandas as pd
import numpy as np
import xlwings as xw

### Define global variables

In [3]:
sheetNames = ['p', 'ey', 'fcfy', 'eps', 'ptbv', 'dy', 'mv']
fileName = "Pull 1.xlsx"

### Read data from Excel

In [33]:
# Requires file to be open
p = pd.DataFrame(xw.books(fileName).sheets("p").range("A1:BVI287").value)
ey = pd.DataFrame(xw.books(fileName).sheets("ey").range("A1:BVI287").value)
fcfy = pd.DataFrame(xw.books(fileName).sheets("fcfy").range("A1:BVI287").value)
eps = pd.DataFrame(xw.books(fileName).sheets("eps").range("A1:BVI287").value)
ptbv = pd.DataFrame(xw.books(fileName).sheets("ptbv").range("A1:BVI287").value)
dy = pd.DataFrame(xw.books(fileName).sheets("dy").range("A1:BVI287").value)
mv = pd.DataFrame(xw.books(fileName).sheets("mv").range("A1:BVI287").value)

fieldList = [p, ey, fcfy, eps, ptbv, dy, mv]

# Clean up the dataframes to have correct cols and rows
for field in fieldList:
    field.columns = field.iloc[0]
    field.index = field[field.columns[0]]
    del field[field.columns[0]]
    field.drop(field.index[0], inplace=True)
    field.replace("NA", np.nan, inplace=True)
    field = field.apply(pd.to_numeric,errors='coerce')b

In [ ]:
import pandas as pd
p = pd.read_excel('..\data\Pull 1.xlsx', header=0, index_col=1)

### Cleaning price series 'p'

In [75]:
p = p.apply(lambda x: np.nan if type(x)=='string' else x)
r = p/p.shift(1)-1

### Calculate Moving Averages

In [76]:
p_ma3 = p.rolling(window=3).mean()
p_ma6 = p.rolling(window=6).mean()
p_ma12 = p.rolling(window=12).mean()
p_ma18 = p.rolling(window=18).mean()

,ABACUS GROUP DEAD - 18/02/09 (~£ ),ABBEY NATIONAL DEAD - T/O SEE 702853 (~£ ),ABBOT GROUP DEAD - 07/03/08 (~£ ),ABBOTT MEAD VICKERS DEAD - DEAD 10/02/99 (~£ ),ABERDEEN ASSET MAN. DEAD - 15/08/17 (~£ ),ABERFORTH SMCOS. (~£ ),ABERDEEN NEW DAWN IT. (~£ ),DISCOVERIE GROUP (~£ ),PURA DEAD - 07/05/03 (~£ ),ACORN GROUP DEAD - DEAD 10/06/99 (~£ ),...,AMIGO HOLDINGS (~£ ),ASA INTERNATIONAL GROUP (~£ ),AVAST (~£ ),GAMESYS GROUP (~£ ),PLUS500 (~£ ),VIVO ENERGY (~£ ),ASTON MARTIN LAGONDA GLOBAL HOLDINGS (~£ ),FUNDING CIRCLE HOLDINGS (~£ ),SMITHSON IT. (~£ ),THIRD PNT.OFFS. (LON) INVRS.£ (~£ )
Price,,,,,,,,,,,,,,,,,,,,,
1995-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-02-29,2.900000,6.040000,0.540000,2.373333,0.740000,2.050000,0.456667,4.033333,2.696667,2.256667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-03-29,2.863333,5.796667,0.616667,2.540000,0.770000,2.106667,0.470000,4.030000,2.723333,2.156667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-04-30,2.850000,5.683333,0.683333,2.710000,0.776667,2.166667,0.476667,4.036667,2.626667,2.326667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-05-31,0.550000,6.430000,3.920000,5.020000,3.180000,12.560000,2.420000,4.133333,1.080000,2.270000,...,2.256667,4.113333,2.983333,7.036667,6.373333,1.280000,9.586667,2.950000,11.753333,11.583333
2019-06-28,0.550000,6.430000,3.920000,5.020000,3.180000,12.426667,2.493333,4.220000,1.080000,2.270000,...,2.320000,3.786667,3.040000,7.170000,5.606667,1.296667,9.570000,2.226667,12.046667,11.616667
2019-07-31,0.550000,6.430000,3.920000,5.020000,3.180000,12.160000,2.543333,4.276667,1.080000,2.270000,...,2.040000,3.610000,3.150000,7.093333,5.843333,1.263333,7.920000,1.760000,12.233333,11.800000
2019-08-30,0.550000,6.430000,3.920000,5.020000,3.180000,11.933333,2.566667,4.300000,1.080000,2.270000,...,1.480000,3.610000,3.386667,6.963333,6.010000,1.243333,6.613333,1.350000,12.540000,12.133333
2019-09-30,0.550000,6.430000,3.920000,5.020000,3.180000,12.046667,2.520000,4.333333,1.080000,2.270000,...,1.043333,3.606667,3.680000,6.953333,6.813333,1.216667,5.016667,1.066667,12.586667,12.650000